@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.AspNetCore.WebUtilities;
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigator

<PageTitle>Chat Room</PageTitle>

<input type="text" @bind="@message" placeholder="Message" />
<br />
<button @onclick="SendMessage">Send</button>
<br />

<ul>
    @foreach(var msg in @messages)
    {
        <li>@msg</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = [];
    private string? groupName;
    private string? userName;
    public string? message;

    protected override void OnInitialized()
    {
        var uri = Navigator.Uri;
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(new Uri(uri).Query);
        if (queryParams.ContainsKey("groupName"))
        {
            groupName = queryParams["groupName"];
        }
        if (queryParams.ContainsKey("userName"))
        {
            userName = queryParams["userName"];    
        }
    }

    protected async override Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(Navigator.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string, string>("SendGroupMsg", (groupName, userName, message) =>
        {
            var concatMessage = $"[{groupName}] --- {userName}: {message}";
            messages.Add(concatMessage);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.StartAsync();
        Console.WriteLine(hubConnection.State);

        await hubConnection.SendAsync("JoinGroup", groupName, userName);
    }

    private async Task JoinGroup(string groupName, string userName)
    {
        await hubConnection.SendAsync("JoinGroup", groupName, userName);
    }

    private async Task SendMessage()
    {
        await hubConnection!.SendAsync("SendMessageToGroup", groupName, userName, message);
    }

    private async Task ReceiveMessage()
    {
        await hubConnection!.SendAsync("ReceiveMessageFromGroup", groupName, userName, message);
    }
}
