Thumbs.db
ehthumbs.db

.vs/
.vscode/
.idea/

.user
.userosscache
.suo
.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
x64/Release/
x86/Release/
bin/
obj/

.vs2019/
.vs2017/
*.dbmdl
*.bak
*.sql